*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: #2a9d8f
}

.navbar-collapse {
    justify-content: center
}

.logo {
    padding-left: 14em;
}

.container {
    max-width: 1080px;
    margin:0 auto;
}

body {
    background-image: linear-gradient(to left,#f4a261,#f1c0e8);
    min-height: 100vh;
}

h2 {
    text-align: center;
    padding: 1em;
    font-size: 25px;
}

img {
    max-width: 100%;
}

.estampa1:hover {
    transform: scale(1.2);
}

.estampa2:hover {
    transform:scale(1.2);
}

.estampa3:hover {
    transform:scale(1.2);
}

.estampa4:hover {
    transform:scale(1.2);
}

.galería {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1em;
    padding-left: 5em;
    padding-bottom: 1em;
}

footer {
    color: white;
    background-color: #6C757D;
    height: 16vh;
    font-size: 14px;
} 

.pie-página {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    text-decoration: none;
    align-items: center;
}

a:link, a:visited, a:active {
    text-decoration:none;
}    

@media screen and (max-width:576px) {
    
    .galería {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }

    .título {
        font-size: 18px;
    }

    .pie-página {
        font-size: 8px;
    }

    .galería {
        padding: 1em;
    }

    footer {
        font-size: 10px;
    }
}