*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar-collapse {
    justify-content: center
}

.logo {
    padding-left: 14em;
}

body {
    background-image: linear-gradient(to left,#f4a261,#f1c0e8);
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.títulos {
    padding: 3em;
}

h2 {
    font-weight: bold;
    font-size: 25px;
}    

h4 {
    font-size: 20px;
    font-weight: lighter;
    padding: 1em;
    padding-left: 3em;
}

tr {
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1em;
}

td {
    border: 1px solid black;
	border-collapse:collapse;
    padding: 1em;
}

.tabla {
    display: flex;
    justify-content: center;
    padding-bottom: 6em;
}

footer {
    color: white;
    background-color: #6C757D;
    height: 16vh;
    font-size: 14px;
} 

.pie-página {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    text-decoration: none;
    align-items: center;
}

a:link, a:visited, a:active {
    text-decoration:none;
}    

@media screen and (max-width:576px) {

    h2 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    .pie-página {
        font-size: 8px;
    }

    footer {
        font-size: 10px;
    }

    table {
        width: 25%;
        font-size: 10px;
    }
}